@using patter_pal.Util;
@using patter_pal.Models;
@using patter_pal.Logic;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-sm d-flex flex-column vh-100-no-footer align-items-center justify-content-center">
    <div class="text-center bg-light rounded-3 me-2 p-2">
        <h1><img alt="PatterPal Logo" src="~/img/logo.svg" height="50" width="50" />&nbsp;PatterPal&nbsp;</h1>
        <h3>Your personal language teacher</h3>
    </div>

    <div class="text-center login-button mt-3">
        <!-- Google Login Button -->
        <a asp-controller="Auth" asp-action="ExternalLogin" asp-route-provider="Google" class="btn btn-light d-flex align-items-center justify-content-center">
            <img src="img/google-icon.png" alt="Google Icon" height="24" width="24"> Login with Google
        </a>
    </div>

    <div class="text-center login-button mt-3">
        <!-- Collapsible for Access Code -->
        <button class="btn btn-primary d-flex justify-content-center w-100" type="button" data-bs-toggle="collapse" data-bs-target="#accessCodeCollapse" aria-expanded="false" aria-controls="accessCodeCollapse">
            Use Special Access Code
        </button>
        <div class="collapse" id="accessCodeCollapse">
            <div class="card card-body">
                <form id="accessForm" asp-controller="Auth" asp-action="SpecialAccess" method="post">
                    <input type="text" class="form-control" placeholder="Format: aaaaa-aaaaa" name="code" pattern="^[A-Za-z1-9]{5}-[A-Za-z1-9]{5}$" required>
                    <button class="btn btn-success mt-2">Login</button>
                </form>
            </div>
        </div>
    </div>
    
    @if (ViewData["Error"] != null || ViewData["Success"] != null)
    {
        <div class="login-button mt-3 alert alert-@(ViewData["Error"] == null ? "success" : "danger") alert-dismissible fade show" role="alert">
            @(ViewData["Error"] ?? ViewData["Success"])
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"/>
        </div>
    }
</div>
